:root {
    --color-primary: #e74c3c;
    --color-secondary: #2ecc71;
    --color-background-bright: white;
}

#app {
    padding-left: 3%;
}

#title {
    padding-top: 2%;
    font-size: 50px;
    padding-bottom: 2%;
    font-family: 'Lobster', cursive;
    color: var(--color-primary);
}

#recipies {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    margin-bottom: 2%;
}

#ingredients {
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ingredients-textbox {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 300px;
    width: 100%;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 150%;
}

#get-recipe {
    margin-top: 5%;
    height: 40px;
    width: 110px;
    border: 0;
    border-radius: 16px;
    background-color: var(--color-primary);
    color: var(--color-background-bright);
}
#get-recipe:active {
    background-color: var(--color-secondary);
}

#directions {
    margin-left: 5%;
    overflow: scroll;
    height: 400px;
    width: 50%;
}

#secret {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#secret-text {
    /* background-color: var(--color-background-bright); */
    padding-right: 1%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
